header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  input[type='file'] + label {
    color: var(--white);
    background-color: var(--gray-500);
    display: inline-block;
    padding: 0.25rem 1rem;
    border-radius: 0.25rem;
    border: 1px solid var(--gray-500);
  }

  input[type='file']:focus + label,
  input[type='file'] + label:hover {
    background-color: var(--green-200);
    border: 1px solid var(--green-200);
  }
}

.search {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 2rem 0rem;
  background: var(--white);
  padding: 0.25rem 0.5rem;
  border-radius: 0.25rem;
  border: 1px solid var(--gray-200);

  > span {
    font-size: 0.75rem;
    font-weight: 600;
  }

  > input {
    flex-grow: 1;
    margin-left: 1rem;
    outline: none;
    border: none;
  }
}
