header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  input[type='file'] + label,
  button {
    color: var(--white);
    background-color: var(--gray-500);
    display: inline-block;
    padding: 0.25rem 1rem;
    border-radius: 0.25rem;
    font-size: 0.75rem;
    border: 1px solid var(--gray-500);
  }

  input[type='file']:focus + label,
  input[type='file'] + label:hover,
  button:hover {
    background-color: var(--green-200);
    border: 1px solid var(--green-200);
  }
}

.card {
  background: var(--white);
  border-radius: 0.25rem;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;

  .card__header {
    font-size: 1.125rem;
    font-family: var(--monospace);
    font-weight: 400;
  }

  .card__content {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    > * + * {
      margin-top: 0.5rem;
    }

    .columns {
      display: grid;
      margin-top: 2rem;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: auto;
      gap: 1rem;
      width: 100%;
      text-align: center;

      label {
        color: var(--green-200);
        text-decoration: underline;
      }
    }

    .list {
      display: grid;
      padding: 0rem 1rem;
      grid-template-columns: 1fr auto;
      gap: 1rem;
      width: 100%;
      text-align: left;
    }
  }

  .card__content--left {
    align-items: flex-start;
  }
}
