.header {
  display: flex;
  flex-direction: row;
  margin-bottom: 1rem;
}

.switcher {
  border: 1px solid var(--gray-500);
  border-radius: 0.25rem;
  margin-top: 1rem;
  font-size: 0.75rem;

  button {
    padding: 0.25rem 1rem;
    border-radius: 0.25rem;

    &:hover {
      background: var(--green-200);
    }
  }

  .selected {
    background: var(--gray-500);
    color: white;
  }
}

.list {
  display: flex;
  flex-direction: column;

  > * + * {
    margin-top: 0.5rem;
  }
}

.row {
  padding: 0.5rem 1rem;
  width: 100%;
  font-size: 0.75rem;
  background-color: white;
}

.row__divider {
  flex-grow: 1;
}

.row__header {
  display: flex;
  flex-direction: row;

  > * {
    margin-right: 1rem;
  }
}

.header__switch,
.header__button {
  text-decoration: underline;
  margin-right: 0rem;
}

.header__time {
  font-weight: bold;
}

.header__tag {
  background: #dddddd;
  border-radius: 0.25rem;
  padding: 0rem 0.25rem;
  font-size: 0.65rem;
  font-family: monospace;
}

.header__message {
  max-width: 50rem;
  width: 100%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow-x: hidden;
}

.row__content {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  border-top: 1px solid #dddddd;
  padding-top: 1rem;

  pre {
    padding: 1rem;
  }

  pre > code,
  pre[class] > code {
    line-height: 1.25rem !important;
    tab-size: 2;
    overflow-x: auto;
  }
}

.content__header {
  font-size: 1rem;
  font-weight: 600;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
