.bold {
  font-weight: 600;
}

.flex-grow {
  flex-grow: 1;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
}

.text-small {
  font-size: 0.75rem;
}
